<div ng-cloak style="align-content: center">

<div>
    <p style="text-align:right">
        <button class="chats" ng-click="contactCtrl.showChats()">Chats</button>
        <!--<button class="logout" ng-click="contactCtrl.logout()">logout</button>-->
    </p>
</div>

<div class="row">

    <div class="col s4">
        <div ng-repeat="c in contactCtrl.contacts">
            <div class="card">
                <div class="card-content">
                    <!-- Card Title is the name of the contact -->
                    <span class="card-title" >{{ c.username }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col s4">
        <form name="form" ng-submit="contactCtrl.addContact(userid)" role="form">
            <center><h5>ADD CONTACT</h5></center>
            <div class="form-group">
                <label for="userid">Username</label>
                <i class="fa fa-key"></i>
                <div>
                    <input type="text" name="userid" id="userid" class="form-control" ng-model="userid" required />
                </div>
                <span ng-show="form.userid.$dirty && form.userid.$error.required" class="help-block"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger">ADD</button>
            </div>
        </form>
    </div>
</div>
</div>